.cases {
  display: block;
  max-width: var(--container-width);
  margin: 158px auto 0 auto;
  padding: 0 20px;

  @media (min-width: 640px) {
    display: block;
    padding: 0;
  }

  h2 {
    text-align: center;
  }

  h3 {
    font-weight: normal;
    margin: 0;
  }

  &__wrapper {
    flex-wrap: wrap;
    gap: 16px;
    display: none;

    &.--desktop {
      @media (min-width: 640px) {
        display: flex;
      }
    }

    &.--mobile {
      @media (max-width: 639px) {
        display: block;
      }

      .cases__case {
        width: 100%;
        box-shadow: var(--box-shadow-1);
        padding: 24px;
        border-radius: 64px;

        div {
          margin-top: 24px;
          aspect-ratio: 1 / 1;
          border-radius: 48px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }

        h3 {
          font-size: 20px;
          margin-top: 10px;
        }

        p {
          margin-top: 16px;
          color: var(--color-2);
          font-size: 14px;
        }
      }
    }
  }

  &__case {
    border-radius: 80px;
    padding: 64px;
    aspect-ratio: 1 / 1;
    background-size: cover;
    grid-gap: 16px;
    width: calc(50% - 8px);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;

    &.--full {
      width: 100%;
      aspect-ratio: 2 / 1;
    }

    h3 {
      max-width: 575px;
      color: white;
    }

    p {
      max-width: 472px;
      color: white;
      font-size: 15px;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
  }

  &__button {
    padding: 32px;
    font-size: 20px;
    margin: 104px auto 0 auto;
    width: 100%;
    justify-content: center;

    @media (min-width: 640px) {
      font-size: 24px;
      margin: 64px auto 0 auto;
      width: auto;
    }
  }
}