.faq {
  display: block;
  max-width: var(--container-width);
  margin: 120px auto 0 auto;
  padding: 0 20px;

  @media (min-width: 640px) {
    display: block;
    padding: 0;
    margin: 160px auto 0 auto;
  }

  h2 {
    font-size: 38px;
    text-align: center;

    @media (min-width: 640px) {
      font-size: 80px;
      text-align: left;
    }
  }

  &__question-wrapper {
    cursor: pointer;
    max-height: 124px;
    padding: 32px;
    background: white;
    border-radius: 48px;
    margin-top: 16px;
    color: black;
    transition: max-height .3s ease-in-out;

    @media (min-width: 640px) {
      max-height: 128px;
    }

    > * {
      color: inherit;
    }

    &:first-child {
      margin-top: 0;
    }

    &.--open {
      max-height: 1000px;

      .faq__question-button {
        background: blue;

        svg {
          color: white;
          transform: rotate(90deg);
        }
      }

      .faq__question-answer {
        overflow: visible;
        height: 100px;
      }
    }
  }

  &__question-button {
    background: var(--bg-color-4);
    transition: background .3s ease-in-out;

    svg {
      color: black;
      transform: rotate(45deg);
      transition: transform .3s ease-in-out;
    }

    border-radius: 54px;
    color: white;
    padding: 15px 16px;

    svg {
      color: black;
      width: 24px;
      height: 24px;

      @media (min-width: 640px) {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: start;
    user-select: none;
    gap: 16px;

    @media (min-width: 640px) {
      align-items: center;
      gap: 0;
    }

    > div:first-child {
      display: flex;
      align-items: center;

      > div:nth-child(1) {
        display: none;
        align-items: center;
        gap: 4px;
        color: var(--color-3);

        @media (min-width: 640px) {
          display: inline-flex;
        }

        svg {
          color: inherit;
          width: 8px;
          height: 34px;

          &:last-child {
            transform: rotate(180deg);
          }
        }

        span {
          color: inherit;
        }
      }

      > div:nth-child(2) {
        margin-left: 0;
        font-size: 20px;
        color: black;

        @media (min-width: 640px) {
          font-size: var(--font-size-h4);
          margin-left: 32px;
        }
      }
    }
  }

  &__question-answer {
    &.--init {
      opacity: 0;
    }

    transition: height .3s ease-in-out;
    font-size: 14px;

    @media (min-width: 640px) {
      font-size: var(--font-size-description-1);
    }

    p {
      color: var(--color-2);

      &:first-child {
        padding-top: 16px;

        @media (min-width: 640px) {
          padding-top: 0;
        }
      }
    }
  }
}