.footer {
  display: none;
  max-width: var(--container-width);
  margin: 0 auto;

  @media (min-width: 640px) {
    display: block;
  }

  .menu {
    margin-top: 60px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

    &:first-child div {
      font-size: 24px;
    }

    &:last-child div {
      font-size: 15px;
      color: var(--color-2);
      margin-bottom: 16px;
    }
  }
}