@keyframes appearance {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.hero {
  max-width: var(--container-width);
  margin: 0 auto;
  position: relative;
  padding: 20px;
  overflow: hidden;

  @media (min-width: 640px) {
    padding: 16px 0 0 0;
  }

  &__gradient {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: url('/images/gradients/hero-section-gradient.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 390px;

    animation-name: appearance;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    @media (min-width: 640px) {
      transform: translateY(-22%);
      width: 1122px;
      height: 994px;
    }
  }

  h1 {
    margin: 64px 0;
    line-height: 1;
    text-align: center;
    letter-spacing: -2px;
    z-index: 1;
    position: relative;

    @media (min-width: 640px) {
      letter-spacing: -4px;
    }

    span {
      width: 100%;
      display: inline-block;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 16px;

    @media (min-width: 640px) {
      display: inline-flex;
      flex-direction: row;
    }

    .button {
      font-size: 20px;
      padding: 24px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      @media (min-width: 640px) {
        font-size: var(--font-size-h4);
        padding: 32px;
      }

      &:nth-child(2) {
        background: transparent;
        transition: color .3s ease-in-out, background-color .3s ease-in-out;

        @media (hover: hover) {
          &:hover {
            color: black;
            background: white;
          }
        }
      }
    }
  }

  &__offer-points {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 816px;
    gap: 24px;

    @media (min-width: 640px) {
      gap: 0;
      margin-top: 155px;
    }

    & > div {
      width: 100%;

      @media (min-width: 640px) {
        width: calc(50% - 8px);
      }
    }
  }

  &__offer-point {

    div:first-child {
      font-size: var(--font-size-h4);
    }

    div:last-child {
      margin-top: 16px;
      font-size: var(--font-size-description-1);
      color: var(--color-2);
    }

    &:nth-child(n+3):nth-child(-n+6) {
      margin-top: 0;

      @media (min-width: 640px) {
        margin-top: 32px;
      }
    }

    &:nth-child(even) {
      margin-left: 0;

      @media (min-width: 640px) {
        margin-left: 16px;
      }
    }
  }

  &__offer-points-wrapper {
    display: flex;
    justify-content: end;
  }
}