.offer {
  display: none;
  margin-top: 137px;

  @media (min-width: 640px) {
    display: block;
  }

  h2 {
    line-height: 1;
  }

  &__gradient {
    position: absolute;
    top: -44%;
    left: 2%;
    z-index: 0;

    svg {
      width: 1019px;
      height: 1050px;
      color: #c13448;

      animation-name: shimmer;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      
      @keyframes shimmer {
        0% {
          color: #c13448;
        }

        50% {
          color: #524dd8;
        }

        100% {
          color: #c13448;
        }
      }
    }
  }

  &__wrapper {
    max-width: var(--container-width);
    margin: 0 auto;

    &.--best {
      position: relative;
      z-index: 1;
      display: flex;
      max-width: initial;
      margin: initial;

      h2 {
        margin-top: 16px;
      }

      > div {
        &:first-child {
          width: 608px;
          flex-grow: 0;
          flex-shrink: 0;
        }

        &:last-child {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
        }
      }

      button {
        font-size: 24px;
        padding: 32px;
      }
    }
  }

  &__solutions {
    display: flex;
    gap: 16px;
  }

  &__solution {
    border-radius: 80px;
    padding: 64px;
    width: calc(50% - 8px);
    box-shadow: var(--box-shadow-1);

    &.--best {
      position: relative;
      max-width: var(--container-width-2);
      margin: 64px auto;
      width: 100%;
      padding: 64px 104px;
      overflow: hidden;
    }
  }

  &__tag {
    display: inline-block;
    padding: 12px;
    border-radius: 64px;
    background-color: var(--bg-color-3);
  }

  h3 {
    margin-top: 32px;
    font-size: 48px;
    line-height: 1;

    span {
      width: 100%;
      display: inline-block;
    }
  }

  ul {
    margin: 32px 0 0 0;
    padding-left: 24px;

    li {
      margin-top: 16px;
      color: var(--color-2);

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__question {
    position: relative;
    padding: 16px;
    background: white;
    color: black;
    border-radius: 64px;
    font-size: 15px;
    margin-top: 32px;
    font-weight: bold;

    svg {
      position: absolute;
      height: 23px;
      width: 20px;
      bottom: 0;
      left: -5px;
    }
  }

  &__clouds {
    height: 178px;
    position: relative;
    margin-top: 15px;

    &.--is-active {
      > div {
        animation-play-state: running;
      }
    }

    div {
      border: 1.5px solid rgba(255, 255, 255, 15%);
      padding: 24px;
      border-radius: 64px;
      font-size: 15px;
      display: inline-block;
      position: absolute;
      animation-play-state: paused;

      &:nth-child(1) {
        top: 13px;
        left: 0;
        transform: rotate(-4.72deg);
        animation: float-1 4s ease-in-out infinite;
        animation-delay: 0s;

        &:hover {
          transform: translateY(-15px) rotate(-4.72deg) scale(1,1);
        }

        @keyframes float-1 {
          0%, 100% {
            transform: translateY(0px) rotate(-4.72deg);
          }
          50% {
            transform: translateY(-5px) rotate(-4.72deg);
          }
        }
      }

      &:nth-child(2) {
        top: 1px;
        right: 1px;
        transform: rotate(2.84deg);
        animation: float-2 4s ease-in-out infinite;
        animation-delay: 0.6s;

        @keyframes float-2 {
          0%, 100% {
            transform: translateY(0px) rotate(2.84deg);
          }
          50% {
            transform: translateY(-5px) rotate(2.84deg);
          }
        }
      }

      &:nth-child(3) {
        bottom: 1px;
        left: 114px;
        transform: rotate(1.78deg);
        animation: float-3 4s ease-in-out infinite;
        animation-delay: 0.3s;

        @keyframes float-3 {
          0%, 100% {
            transform: translateY(0px) rotate(1.78deg);
          }
          50% {
            transform: translateY(-5px) rotate(1.78deg);
          }
        }
      }
    }
  }

  &__point-wrapper {
    width: 296px;

    &:nth-child(2) {
      margin-top: 16px;
      align-self: end;
    }

    &:nth-child(3) {
      margin-top: 16px;
      width: 100%;

      .offer__point-content svg {
        width: 78px;
        height: 96px;
      }

      .offer__point-content {
        display: flex;
        align-items: center;

        > div:first-child {
          width: 234px;
        }

        div:nth-child(3) {
          position: relative;

          div {
            position: absolute;
            font-weight: bold;
            font-size: 15px;
            padding: 24px;
            background: white;
            color: black;
            border-radius: 400px;
            text-wrap: nowrap;

            &:first-child {
              top: -72px;
            }

            &:last-child {
              top: 5px;
            }
          }
        }
      }
    }
  }

  &__point {
    display: flex;
    align-items: center;
    gap: 4px;

    div {
      display: inline-block;
    }

    svg:nth-child(1) {
      width: 8px;
      height: 34px;
    }

    div:nth-child(2) {
      font-size: 15px;
      color: rgba(#fff, 0.5);
    }

    svg:nth-child(3) {
      width: 32px;
      height: 32px;
    }

    svg:nth-child(4) {
      width: 8px;
      height: 34px;
      transform: rotate(180deg);
    }
  }

  &__point-content {
    margin-top: 16px;
    font-size: 24px;
    line-height: 1.2;
  }
}