.open-form {
  display: none;
  gap: 16px;
  max-width: var(--container-width);
  margin: 224px auto 0 auto;

  @media (min-width: 640px) {
    display: flex;
  }

  > div {
    flex: 1;
  }

  h2 {
    font-weight: normal;

    span {
      display: inline-block;
      width: 100%;
    }
  }

  &__me {
    box-shadow: var(--box-shadow-1);
    padding: 32px;
    border-radius: 64px;
    width: 50%;

    img {
      width: 60px;
      border-radius: 60px;
    }

    h4 {
      font-weight: normal;
      margin-top: 16px;
    }

    p {
      font-size: 15px;
      color: var(--color-2);
      margin-top: 16px;
    }
  }

  &__button {
    font-size: 24px;
    color: white;
    background-color: var(--bg-color-3);
  }

  form {
    > div:last-child {
      display: flex;
      justify-content: space-between;
    }
  }
}