.ready-to-discuss {
  display: flex;
  max-width: var(--container-width);
  margin: 174px auto 0 auto;
  gap: 16px;
  position: relative;
  padding: 0 20px;
  flex-direction: column;
  overflow: hidden;

  @media (min-width: 640px) {
    overflow: visible;
    margin: 120px auto 0 auto;
  }

  @media (min-width: 640px) {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 174px auto 0 auto;
  }

  > svg {
    width: 1088px;
    height: 1028px;
    position: absolute;
    top: -185px;
    left: -259px;
    color: #c13448;

    @media (min-width: 640px) {
      top: -185px;
      left: -189px;
    }

    &.--is-active {
      animation: shine 8s linear infinite;
    }

    @keyframes shine {
      0% {
        color: #c13448;
      }

      50% {
        color: #ea6060;
      }

      100% {
        color: #c13448;
      }
    }
  }

  &__gradient {
    opacity: 1;
    background-image: url('/images/gradients/ready-to-discuss-section-gradient.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    border: none;
    position: absolute;
    left: -15%;
    top: 0;
    width: 1000px;
    height: 700px;
    transform: rotate(45deg);

    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: hueRotate;
    animation-timing-function: linear;

    @keyframes hueRotate {
      0% {
        filter: hue-rotate(0);
      }
      100% {
        filter: hue-rotate(360deg);
      }
    }
  }

  &__button {
    margin-top: 64px;
    padding: 32px;
    font-size: 19px;
    width: 100%;
    justify-content: center;

    @media (min-width: 640px) {
      font-size: 24px;
      width: auto;
    }

    &.--blue {
      background-color: var(--bg-color-3);
    }
  }

  > h2 {
    width: 100%;
    line-height: 1;
    font-weight: normal;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 0 64px 0;

    @media (min-width: 640px) {
      width: calc(50% - 8px);
      text-align: left;
      margin: 0 0 40px 0;
    }
  }

  > *:nth-child(2), > *:nth-child(3) {
    margin-left: 0;
    width: 100%;

    @media (min-width: 640px) {
      width: calc(50% - 8px);
      margin-left: 16px;
    }

    h3 {
      color: black;
      line-height: 1;
      font-weight: normal;
      font-size: 28px;
      text-align: center;
      margin-bottom: 40px;

      @media (min-width: 640px) {
        font-size: 48px;
        text-align: left;
        margin-bottom: 32px;
      }
    }
  }

  form {
    position: relative;
    z-index: 1;
  }
}