.reviews {
  display: block;
  width: 100%;
  margin: 160px auto 0 auto;
  padding: 0 20px;

  @media (min-width: 640px) {
    display: block;
    width: var(--container-width);
    padding: 0;
  }

  h2 {
    text-align: center;
  }

  &__reviews {
    display: block;
    transition: transform .5s ease-in-out;
  }

  &__review {
    user-select: none;
    display: inline-block;
    position: relative;
    flex: 1;
    border-radius: 72px;
    padding: 20px;
    height: 529px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 transparent;
    transition: box-shadow .5s ease-in-out;

    @media (min-width: 640px) {
      padding: 32px;
    }

    img {
      aspect-ratio: 1 / 1;
      height: 164px;
      transition: height .5s ease-in-out;
      user-select: none;

      @media (min-width: 640px) {
        height: 191px;
      }
    }

    &.--open {
      background: linear-gradient(to bottom, transparent 0%, transparent 80%, black 95%, black 100%);
      box-shadow: var(--box-shadow-1), var(--box-shadow-2);
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      img {
        height: 60px;
      }

      .reviews__review-filter {
        display: none;
      }
    }
  }

  &__review-head {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      margin-top: 16px;
      color: var(--color-2);
      font-size: 14px;
      user-select: none;
      text-align: center;

      @media (min-width: 640px) {
        font-size: 16px;
      }
    }
  }

  &__review-description {
    margin-top: 16px;
    font-size: 20px;
    color: white;
    position: relative;
    z-index: 1;
    user-select: none;
    line-height: 1.1;

    @media (min-width: 640px) {
      font-size: 24px;
      line-height: 1;
    }
  }

  &__review-filter {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: inherit;
    width: 400px;
    z-index: 2;
    background: linear-gradient(to bottom, transparent 0%, transparent 80%, black 95%, black 100%);
    box-shadow: var(--box-shadow-1), var(--box-shadow-2);
  }

  &__paginator {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  &__paginator-pages {
    width: 32px;
    height: 32px;
    background-color: var(--bg-color-5);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    &.--active {
      cursor: default;
      background-color: var(--bg-color-3);
    }
  }

  &__reviews-splide {
    .splide__pagination {
      bottom: -67px;
    }

    .splide__pagination__page {
      height: 32px;
      width: 32px;
      background: var(--bg-color-5);
      opacity: 1;

      &:focus {
        outline: none;
      }

      &.is-active {
        background: var(--bg-color-3);
        transform: none;
      }
    }
  }
}