.roadmap {
  margin: 194px auto 0 auto;
  overflow-x: hidden;

  h2 {
    span {
      display: block;
      width: 100%;
    }
  }

  &__divider {
    height: 384px;
    background: var(--bg-color-2);
    border-radius: 4px;
    width: 1.5px;
  }

  &__week {
    display: inline-block;
    font-size: 13px;

    &.--first {
      background: grey;
      padding: 8px 10px;
      border-radius: 32px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__divider {
    margin-top: 35px;
    height: 484px;
    background: var(--bg-color-2);
    width: 1px;
  }
}

.roadmap {
  table {
    position: absolute;

    td {
      text-align: center;
      min-width: 176px;
    }
  }

  &__divider-wrapper {
    display: inline-flex;
    justify-content: center;
  }

  &__steps {
    position: absolute;
  }

  &__step {
    position: absolute;
    border-radius: 100px;
    padding: 32px;
    z-index: 1;
    font-size: 24px;

    &.--1 {
      background: blue;
      top: 62px;
      left: 30px;
      width: 704px;
    }

    &.--2 {
      background: var(--color-2);
      top: 190px;
      left: 528px;
      width: 528px;
    }

    &.--3 {
      background: #C5FF40;
      top: 318px;
      left: 880px;
      color: black;
      width: 528px;
    }

    &.--4 {
      background: white;
      top: 446px;
      width: 1056px;
      left: 1058px;
      color: black;
    }
  }

  &__table-container {
    position: relative;
    height: 588px;
    overflow-x: hidden;
  }

  &__timeline {
    width: 100%;
    background: var(--bg-color-2);
    height: 1px;
    position: absolute;
    bottom: 40px;
    border-radius: 24px;

    &.--top {
      top: 50px;
    }
  }
}