.softbrigaga {
  position: relative;
  visibility: hidden;
  margin: 193px 0 0 0;

  h1 {
    text-align: center;
    font-weight: normal;
    margin: 0 auto;
    user-select: none;
    color: var(--color-2);
    font-size: 222px;
    line-height: 1.3;
  }

  &__spotlight {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 288px;
    left: 0;
    top: 0;
    background: black;
    pointer-events: none;
  }
}