.softbrigaga {
  max-width: var(--container-width);
  margin: 193px auto 0 auto;

  h1 {
    font-weight: normal;
    user-select: none;
    font-size: 238px;
    margin: 0;
    color: var(--color-2);
  }
}