.trust-us {
  display: block;
  max-width: var(--container-width);
  margin: 120px auto 0 auto;

  @media (min-width: 640px) {
    display: block;
    margin: 160px auto 0 auto;
  }

  h2 {
    text-align: center;

    @media (min-width: 640px) {
      text-align: left;
    }
  }

  &__wrapper {
    display: block;
    gap: 16px;

    @media (min-width: 640px) {
      display: flex;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px;
    box-shadow: var(--box-shadow-1);
    border-radius: 40px;
    overflow: hidden;
    width: 192px;
    height: 164px;
    transition: height .5s;

    @media (min-width: 640px) {
      height: auto;
      width: auto;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }

    img {
      z-index: 2;
      pointer-events: none;
    }

    video {
      z-index: 1;
      position: absolute;
      left: 0;
      opacity: 0;
      height: 120%;
      top: 0;
      transition: opacity .4s;
      will-change: opacity;

      &.--1 {
        transform: scale(2);
      }

      &.--2 {
        transform: scale(1.2) rotate(45deg);
        top: 45px;
        left: -22px;
      }

      &.--3 {
        transform: scale(1.5) rotate(-45deg);
        top: -53px;
      }

      &.--4 {
        transform: scale(1.2) rotate(90deg);
        left: -75px;
      }

      &.--5 {
        transform: scale(1.4) rotate(145deg);
        left: -75px;
      }
    }

    div {
      margin-top: 32px;
      font-size: 24px;
      z-index: 2;
      user-select: none;
    }
  }
}