@use 'fonts';
@use 'variables';
@use 'header';
@use 'buttons';

/* sections */
@use 'sections/hero';
@use 'sections/dev-types';
@use 'sections/offer';
@use 'sections/ready-to-discuss';
@use 'sections/roadmap';
@use 'sections/cases';

* {
  color: white;
  font-family: 'Hauora', sans-serif;
  box-sizing: border-box;
  line-height: 1;
}

a {
  cursor: pointer;
  user-select: none;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 112px;
  font-weight: normal;
}

h2 {
  font-size: 80px;
  margin: 0 0 64px 0;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 24px;
}

body, html {
  height: 100%;
}

body {
  background-color: var(--bg-color);
}

body, p {
  margin: 0;
}