@use 'fonts';
@use 'variables';
@use 'menu';
@use 'buttons';
@use 'form';
@use 'brief';

/* sections */
@use 'sections/hero';
@use 'sections/dev-types';
@use 'sections/offer';
@use 'sections/ready-to-discuss';
@use 'sections/roadmap';
@use 'sections/cases';
@use 'sections/trust-us';
@use 'sections/benefits';
@use 'sections/reviews';
@use 'sections/open-form';
@use 'sections/faq';
@use 'sections/softbrigada';
@use 'sections/footer';

/* widgets */
@use 'widgets/discuss';

* {
  color: white;
  font-family: 'Hauora', sans-serif;
  box-sizing: border-box;
  line-height: 1;

  &::selection {
    background: var(--selection-color);
    color: white;
  }

  &::-moz-selection {
    background: var(--selection-color);
    color: white;
  }
}

svg, svg *, symbol * {
  color: inherit;
  shape-rendering: geometricPrecision;
}

a {
  cursor: pointer;
  user-select: none;
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 38px;
  font-weight: normal;

  @media (min-width: 640px) {
    font-size: 112px;
  }
}

h2 {
  font-size: 80px;
  margin: 0 0 64px 0;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 24px;
}

html {
  scroll-behavior: smooth;
}

body, html {
  height: 100%;
}

body {
  background-color: var(--bg-color);
}

body, p {
  margin: 0;
}