@use 'fonts';
@use 'variables';
@use 'header';
@use 'hero';
@use 'buttons';

* {
  color: white;
  font-family: 'Hauora', sans-serif;
}

a {
  cursor: pointer;
  user-select: none;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 112px;
  font-weight: normal;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 24px;
}

body, html {
  height: 100%;
}

body {
  background-color: var(--bg-color);
}

body, p {
  margin: 0;
}