.brief__overlay {
  width: 100vw;
  height: 100vh;
  background: black;
  position: fixed;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-out;

  &.--is-open {
    opacity: 0.7;
    pointer-events: auto;
    cursor: pointer;
  }
}

.brief {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(800px);
  transition: transform .5s ease-in-out;
  width: 700px;
  height: 100vh;
  z-index: 6;
  max-width: 100%;
  opacity: 1;
  padding: 30px;
  background: white;
  color: black;
  box-shadow: -50px 0px 75px black;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (min-width: 640px) {
    padding: 60px 80px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &.--is-open {
    transform: translateX(0);
  }

  h3 {
    color: black;
    font-size: 32px;

    @media (min-width: 640px) {
      font-size: 48px;
    }
  }

  p {
    margin-top: 20px;
    color: black;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;
  }

  &__form {
    border-radius: 0;
    padding: 0;
    margin-top: 32px;

    .form__action {
      .button {
        font-size: 16px;
        width: 100%;
        margin-top: 32px;
      }

      > div:last-child {
        color: grey;
        font-size: 12px;
        margin-top: 12px;
        text-align: center;
      }
    }
  }
}