.brief__overlay {
  width: 100vw;
  height: 100vh;
  background: black;
  position: fixed;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-out;

  &.--is-open {
    opacity: 0.5;
    pointer-events: auto;
    cursor: pointer;
  }
}

.brief {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(800px);
  transition: transform .5s ease-in-out;
  width: 700px;
  height: 100vh;
  z-index: 3;
  max-width: 100%;
  opacity: 1;
  padding: 60px 80px;
  background: radial-gradient(ellipse at 40px 40px, #30324c 10%, #973333 100%);
  box-shadow: -50px 0px 75px black;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.--is-open {
    transform: translateX(0);
  }

  p {
    margin-top: 20px;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: 20px;
    right: 20px;
  }

  &__form {
    background: transparent;
    border-radius: 0;
    padding: 0;
    margin-top: 32px;

    div {
      color: white;
    }
  }
}