@font-face {
  font-family: Hauora;
  src: url('../fonts/Hauora-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Hauora;
  src: url('../fonts/Hauora-SemiBold.otf');
  font-weight: bold;
  font-style: normal;
}