@font-face {
  font-family: Hauora;
  src: url('../fonts/Hauora-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Hauora;
  src: url('../fonts/Hauora-SemiBold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Bedstead-extended;
  src: url('../fonts/Bedstead-extended.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Furore;
  src: url('../fonts/Furore.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Iceland;
  src: url('../fonts/Iceland-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Nyxerin;
  src: url('../fonts/Nyxerin.otf');
  font-weight: normal;
  font-style: normal;
}