.form {
  width: 100%;
  padding: 24px;
  background: white;
  border-radius: 64px;

  @media (min-width: 640px) {
    padding: 64px;
    border-radius: 80px;
  }

  &__group {

    > div {
      color: black;
      margin-top: 24px;

      &:first-child {
        margin-top: 0;
        font-size: var(--font-size-description-1);
        font-weight: bold;
      }
    }

    &.--description > div:nth-child(3) {
      font-size: 12px;
      color: var(--color-2);
    }

    &.--contacts > div:nth-child(2) {
      margin-top: 32px;
    }
  }

  form {
    > * {
      margin-top: 32px;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-top: 40px;

        @media (min-width: 640px) {
          margin-top: 64px;
        }
      }
    }
  }

  > h3 + div {
    margin-top: 0;
  }

  > div {
    margin-top: 24px;
  }
}

.input__wrapper {
  display: flex;
  gap: 24px;
  flex-direction: column;

  @media (min-width: 640px) {
    flex-direction: row;
    gap: 16px;
  }

  .input {
    flex: 1;
  }
}