.hero {
  max-width: 1232px;
  margin: 63px auto 0 auto;

  h1 {
    line-height: 1;
    text-align: center;
    letter-spacing: -4px;

    span {
      width: 100%;
      display: inline-block;
    }
  }

  &__buttons {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    gap: 16px;

    .button {
      font-size: 24px;
      padding: 32px;

      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}