.menu-desktop {
  display: none;
  width: 1232px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  position: relative;
  z-index: 1;

  &__phone {
    cursor: text;
    user-select: auto;
  }

  @media (min-width: 640px) {
    display: flex;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  & * {
    font-size: var(--font-size-description-1);
    font-weight: bold;
  }

  &__contacts-social {
    svg:last-child {
      margin-left: 16px;
    }
  }

  &__container {
    & > * {
      display: inline-block;
    }

    svg {
      height: 32px;
      width: 32px;
    }

    &.--right {
      display: flex;
      align-items: center;
    }
  }

  &__menu {
    display: inline-block;
    margin-left: 90px;

    > a {
      display: inline-block;
      font-weight: bold;
      margin-left: 32px;

      &:last-child {
        margin-left: 24px;
        padding: 8px;

        span {
          margin-left: 16px;
          background: var(--bg-color-2);
          border-radius: 24px;
          padding: 8px 10px;
        }
      }
    }
  }

  &__contacts {
    display: inline-flex;
    gap: 32px;
    align-items: center;
  }

  &__button {
    margin-left: 32px;
  }
}

.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 640px) {
    display: none;
  }

  div:last-child {
    display: flex;
  }

  .button {
    font-size: 14px;
    padding: 20px;

    svg {
      margin-left: 0;
      width: 24px;
      height: 24px;
    }

    &:last-child {
      padding: 14px;
      margin-left: 8px;
    }
  }
}

.menu-open-burger {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  box-shadow: var(--box-shadow-1);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-out;
  z-index: 1;
  padding: 20px;

  &.--is-open {
    opacity: 1;
    pointer-events: auto;
  }

  &__container {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    height: 100%;
  }

  &__anchor-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > a {
      display: inline-block;
      font-weight: bold;
      font-size: 20px;

      &:last-child {
        margin-top: 18px;
        padding: 8px;

        span {
          margin-left: 16px;
          background: var(--bg-color-2);
          border-radius: 24px;
          padding: 8px 10px;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 16px;

    @media (min-width: 640px) {
      display: inline-flex;
      flex-direction: row;
    }

    .button {
      font-size: 20px;
      padding: 24px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;

      @media (min-width: 640px) {
        font-size: var(--font-size-h4);
        padding: 32px;
      }

      &:nth-child(2) {
        background: transparent;
        transition: color .3s ease-in-out, background-color .3s ease-in-out;

        @media (hover: hover) {
          &:hover {
            color: black;
            background: white;
          }
        }
      }
    }
  }

  &__contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;

    > div {
      &:first-child {
        display: flex;
        gap: 16px;
        justify-content: center;
        margin-bottom: 40px;

        svg {
          width: 32px;
          height: 32px;
        }
      }

      &:last-child {
        div {
          text-align: center;

          &:last-child {
            margin-top: 16px;
          }
        }
      }
    }
  }
}