.menu-desktop {
  display: none;
  width: 1232px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  position: relative;
  z-index: 1;

  @media (min-width: 640px) {
    display: flex;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  & * {
    font-size: 15px;
    font-weight: bold;
  }

  &__contacts-social {
    svg:last-child {
      margin-left: 16px;
    }
  }

  &__container {
    & > * {
      display: inline-block;
    }

    svg {
      height: 32px;
      width: 32px;
    }

    &.--right {
      display: flex;
      align-items: center;
    }
  }

  &__contacts {
    display: inline-flex;
    gap: 32px;
    align-items: center;
  }

  &__menu {
    display: inline-block;
    margin-left: 90px;

    > a {
      display: inline-block;
      font-weight: bold;
      margin-left: 32px;

      &:last-child {
        margin-left: 24px;
        padding: 8px;

        span {
          margin-left: 16px;
          background: var(--bg-color-2);
          border-radius: 24px;
          padding: 8px 10px;
        }
      }
    }
  }

  &__button {
    margin-left: 32px;
  }
}

.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 640px) {
    display: none;
  }

  div:last-child {
    display: flex;
  }

  .button {
    font-size: 14px;
    padding: 20px;

    svg {
      margin-left: 0;
      width: 24px;
      height: 24px;
    }

    &:last-child {
      padding: 14px;
      margin-left: 8px;
    }
  }
}