:root {
  --bg-color: #000;
  --bg-color-alt: #ffffff26;
  --bg-color-3: #054BFE;

  --color-2: #7B7B7B;
  --color-3: #DADADA;
  --container-width: 1232px;
  --container-width-2: 1400px;

  --box-shadow-1: inset 0 0 120px 11px rgba(255, 255, 255, 0.15);
}