:root {
  --bg-color: #000;
  --bg-color-2: #ffffff26;
  --bg-color-3: #054BFE;
  --bg-color-4: #F1F1F1;
  --bg-color-5: #ffffff80;

  --color-2: #7B7B7B;
  --color-3: #DADADA;

  --container-width: 1232px;
  --container-width-2: 1400px;

  --box-shadow-1: inset 0 0 120px 11px rgba(255, 255, 255, 0.15);
  --box-shadow-2: 0px -35px 5px -5px rgba(0, 0, 0, 1) inset;
  --box-shadow-3: inset 0 0 120px 11px #043e34;

  --selection-color: #3739e6;
}