.widget-discuss {
  position: fixed;
  right: 8px;
  bottom: 8px;
  z-index: 5;
  opacity: 0;

  &.--visible {
    opacity: 1;
  }

  @media (min-width: 640px) {
    right: 100px;
    bottom: 100px;
  }

  &__header-content {
    font-size: var(--font-size-h4);
    color: black;
    margin-top: 16px;
  }

  &__group {
    margin-top: 32px;

    div:first-child {
      font-size: var(--font-size-description-2);
      color: var(--color-2);
    }

    div:last-child {
      margin-top: 8px;
      font-size: var(--font-size-description-1);
      color: black;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    svg {
      width: 32px;
      height: 32px;
      cursor: pointer;
      color: var(--color-3);
    }
  }

  .button {
    margin-top: 32px;
  }

  &__content {
    border-radius: 64px;
    padding: 32px;
    background: white;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease-in-out;
    right: 8px;
    bottom: 73px;

    @media (min-width: 640px) {
      right: 95px;
      bottom: 169px;
    }

    &.--is-open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__button {
    display: inline-flex;
    background: var(--bg-color-3);
    border-radius: 100px;
    padding: 20px;
    border: none;
    font-size: var(--font-size-description-1);
    gap: 16px;
    align-items: center;
    transition: background-color .5s ease-in-out, box-shadow .5s ease-in-out;

    &.--lite-mode {
      background: black;
      box-shadow: var(--box-shadow-1);
    }
  }

  &__online {
    background: var(--bg-color-6);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0.8;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    
    @keyframes pulse {
      0% {
        opacity: 0.8;
      }

      50% {
        opacity: 1;
      }

      100% {
        opacity: 0.8;
      }
    }
  }
}