.radio {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  div {
    padding: 12px;
    color: black;
    border: 1px solid var(--color-3);
    border-radius: 64px;
    font-size: var(--font-size-description-2);
    cursor: pointer;
    text-wrap: nowrap;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    user-select: none;

    &.--active {
      background: black;
      color: white;
      border: 1px solid black;
    }
  }
}